<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>GETTING STARTED WITH BRACKETS</title>
        <meta name="description" content="An interactive getting started guide for Brackets.">
        <link rel="stylesheet" href="main.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
        <style>
            .container {
                max-width: 1170px;
                margin: auto;
                padding: 25px;
                font-family: 'Roboto', sans-serif;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <%if(personalDetailsData){%>
            <h2>Personal Data </h2>
            <div class="card-body">
                <p><%= personalDetailsData.firstName%>' '<%= personalDetailsData.lastName%></p>
                <p>Born in <%= personalDetailsData.city%> <%= personalDetailsData.country %>, on <% personalDetailsData.birthDate?personalDetailsData.birthDate: ''%></p>
                <p><%personalDetailsData.citizenship ? personalDetailsData.citizenship: ''%></p>
                <p>Mobile <%personalDetailsData.mobilePhone?personalDetailsData.mobilePhone:'' %></p>
                <p><%= personalDetailsData.primaryEmail%></p>
            </div>
            <%}%>

            <h2>Professional Experience </h2>
            <div class="card-body">
                <%if(workExperienceData && workExperienceData.length !== 0) { %>
                    <% workExperienceData.forEach((exp, i) =>{%>
                        <h6 class="hr-ttl mb-4 mt-4"><h3 class="ttl">Job <%= i+1%></h3><span class="hr"></span></h6>
                        <p>I was engaged in <%= exp.typeOfEngagement%> from <%= exp.durationFrom%> to <%= exp.durationTo%> as <%= exp.jobTitle%></p>
                        <p>My business function was <%= exp.businessFunction%> in <%= exp.companyName%> within the <%= exp.companyIndustryLine%> Industry.</p>
                        <%= exp.companyName%> was located in <%= exp.locationCity%> <%= exp.locationCountry%> and had a strength of <%= exp.companySize%>


                        <p>The people management responsibility was <%= exp.peopleManagementResponsibility%></p>
                        <p>My main responsibility was <%= exp.mainResponsibility%> and I managed a <%= exp.managedTeamSize%> member team.</p>
                        <p>The budget responsibilty was <%= exp.budgetResponsibility%></p>
                    <%})%>
                <%}%>
            </div>
            <h2>Projects </h2>
            <div class="card-body">
                <%if(projectsData && projectsData.length !== 0) { %>
                    <%projectsData.forEach((proj, i) => {%>
                        <h6 class="hr-ttl mb-4 mt-4"><h3 class="ttl">Project <%= i%></h3><span class="hr"></span></h6>
                        <p>I have done <%= proj.projectName%> for <%= proj.clientsCompanyName%> which is under <%= proj.companyIndustryLine%> Industry.</p>
                        <p><%= proj.clientsCompanyName%> was located in <%= proj.locationCity%> <%= proj.locationCountry%> and had a strength of <%= proj.clientsCompanySize%></p>
                        <p>My business function was <%= proj.businessFunction%> and the goal was <%= proj.projectGoal%></p>
                        <p>The project was <%= proj.projectDuration%>, <%= proj.projectSize%> and <%= proj.projectComplexity%></p>
                        <p><%= proj.projectTeamSize%> members were involved in this project and my role was <%= proj.role%></p>
                        <p>The budget responsibilty was <%= proj.budgetResponsibility%></p>
                        <p>The result I achieved was <%= proj.mainResults%></p>
                        <p><%= proj.projectName%> is applicable to all other companies with minor modifications </p>
                    <%})%>
                <%}%>
            </div>
            <h2>Education</h2>
            <div class="card-body">
                <% if(educationData && educationData.length !== 0){%>
                    <%educationData.forEach(edu => { %>
                        <p>I have completed <%= edu.typeOfInstitution%> in <%= edu.major%> from <%= edu.nameOfInstitution%>,  <%= edu.locationCountry%> 
                            <%= edu.locationCity%>  with <%= edu.grade%> in the year <%= edu.durationFrom%> to <%= edu.durationTo%></p>
                        <p>The Language was </p>
                    <%})%>    
                <%}%>    
            </div>
            <h2>Skills </h2>
            <div class="card-body">
            <% if(skillData && skillData.length !== 0){%>
                <%skillData.forEach(skill =>{%>
                    <p>I am expert in <%= skill.skillTitle%> </p>
                <%})%>
            <%}%>
            </div>
            <%if(wlbData){%>
            <h2>Work-Life-Balance </h2>
            <div class="card-body">
                <p>My annual available capacity is <%= wlbData.annualAvailableCapacity%> </p>
            </div>
            <%}%>
            <%if(goalData){%>
            <h2>Goals </h2>
            <div class="card-body">
                <p><%= goalData.clientRating%> client rating &amp; ranking </p>
                <p><%= goalData.teamRating%> team rating &amp; ranking</p>
                <p>My target annual income is <%= goalData.targetAnnualIncome%>, Monthly Income is <%= goalData.incomePerMonth?goalData.incomePerMonth: '' %>, 
                Daily Income is <%= goalData.incomePerDay?goalData.incomePerDay: '' %></p>
                <p></p>
            </div>
            <%}%>
        </div>

    </body>
</html>
